// 此自定义uView主题生成于2021-04-10 12:42
// 地址：http://www.uviewui.com/guide/theme.html

$u-type-primary: #ffcc00;
$u-type-error: #fa3534;
$u-type-warning: #ff9900;
$u-type-success: #19be6b;
$u-type-info: #999890;
$u-type-primary-light: #fffaec;
$u-type-error-light: #fef0f0;
$u-type-warning-light: #fdf6ec;
$u-type-success-light: #dbf1e1;
$u-type-info-light: #f5f5f4;
$u-type-primary-dark: #e4bc2b;
$u-type-error-dark: #dd6161;
$u-type-warning-dark: #f29100;
$u-type-success-dark: #18b566;
$u-type-info-dark: #8a8982;
$u-type-primary-disabled: #fff1a0;
$u-type-error-disabled: #fab6b6;
$u-type-warning-disabled: #fcbd71;
$u-type-success-disabled: #71d5a1;
$u-type-info-disabled: #ccccc8;
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #edece4;
$u-bg-color: #f6f6f3;
$u-form-item-border-color: #e6e5dc;
$u-form-item-height: 70rpx;
